{
    "client": {
        "options": { "debug": true },
        "identity": {
            "username": "xxx",
            "password": "xxx"
        },
        "channels": [
            "forsen"
        ]
    }
}